<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include("./head.html") %>
  </head>
  <body>
        <%- include("./header.html") %>
            <hr>
            <div id="body">
                <div id="body-in">
            
                <div id="main">
            <ul class="feed-list">
                <% items.forEach(function(item){ %>
                    <li class="feed-item">
                       <div class ="feed">
                         <a class="feed-title" href="/items/<%= item.id %>"><%= item.title %></a>
                         <a href="http://b.hatena.ne.jp/entry/<%= item.url %>"><img src="http://b.hatena.ne.jp/entry/image/<%= item.url %>"></a>
                         <p class="feed-description"><%- item.sumally %></p>
                         <p class="feed_date"><%= item.pubdate %></p>
                       </div>
                    </li>
                  <% }); %>
            </ul>
            <a href=/?p=<%= page-1 %>>前のページ</a>
            <div id="page-number">page<%= page %></div>
            <a href=/?p=<%= page+1 %>>次のページ</a>
    </div>
                <div id="sidebar">
                    <%- include("./sidebar.html",rank) %>
                </div>
                </div>
                </div>
  </body>
</html>
