<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul class="feed-list">
      <% items.forEach(function(item){ %>
        <li class="feed">
          <p class="feed-title"><% item.title %></p>
          <p class="feed_date"><% item.pubdate %></p>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
