<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include("./head.html") %>
  </head>
  <body>
    <%- include("./header.html") %>
    <hr>
    <div id="main">
      <% item.forEach(function(i){ %>  
        <div id="item-box">
          <div id="item-title"><a href="<%= i.url %>"><%= i.title %></a></div>
          <div id="item-description"><%- i.sumally %></div>
        </div>
      <% }); %>
      <div id="sidebar">
        <%- include("./sidebar.html") %>
      </div>
    </div>
  </body>
</html>
